*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Minha fonte";
    src: url('../Importando\ fontes/fontes open sans/OpenSans-Light.ttf');
}

html,body{
    height: 100%;
    font-family: "Minha fonte";
}



h2{    
    font-family: "Minha fonte";
}

.box p{
    font-family: "Minha fonte" /*!important;*/
}
/* !important reescreve independente do nível de especificação*/

.text{
    font-family: tahoma !important;
}

form *{
    font-family: "Minha fonte";
}

