<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar cliente</title>
</head>
<body>
    <h2>Cadastrar cliente:</h2>
    <form method="post" action="">
        <input placeholder="Nome..." type="text" name="nome">
        <input placeholder="Sobrenome..." type="text" name="sobrenome">
        <input placeholder="Empresa..." type="text" name="empresa">
        <input type="submit">
    </form>
</body>
</html>